@import "tailwindcss";

@theme {
  --font-space-grotesk: "Space Grotesk", sans-serif;
  --color-green: #B9FF66;
  --color-dark: #191A23;
  --color-dark-alt: #1A1A1A;
  --color-gray: #F3F3F3;
}

body {
  font-family: "Space Grotesk", sans-serif;
}
